@page
@model Certification.Main.Pages.Student.ListModel
@{ ViewData["Title"] = "Certifications"; }
<header>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
</header>
<h1>Certifications</h1>


@foreach (var result in Model.results)
{
<partial name="_Student" model="result" />
}


@section footer {
    <div>@Model.Message</div>
}
